<h1>Recent reports</h1>

<table>
  <tr>
		<th>Location</th>
		<th>Department</th>
 		<th>Nationality</th>
  	<th>Religion</th>
		<th>Gender</th>
  </tr>
</table>

<% @reports.each do |report| %>
  <tr>
	<td><%= link_to (report.location), report_path(report)  %></td>
	<td><%= report.agency %></td>
    <td><%= report.nationality %></td>
	<td><%= report.religion %></td>
	<td><%= report.gender %></td>

  </tr>
<% end %>
</table>

<br />
<div id="map_canvas" style="width:900px; height:450px"></div>
<!-- 
<td><%#= link_to 'Show', report %></td>
<td><%#= link_to 'Edit', edit_report_path(report) %></td>
<td><%#= link_to 'Destroy', report, confirm: 'Are you sure?', method: :delete %></td>
<%#= link_to 'New Report', new_report_path %>
 -->
