<p id="notice"><%= notice %></p>



<p><b>Nationality: </b><%= @report.nationality %></p>
<p><b>Religion: </b><%= @report.religion %></p>
<p><b>Gender: </b><%= @report.gender %></p>
<p><b>Age: </b><%= @report.age %></p>

<p><b>Department: </b><%= @report.agency %></p>
<p><b>Location: </b><%= @report.location %></p>

<p><b>Disposition: </b><%= @report.disposition %></p>
<p><b>Outcome: </b><%= @report.outcome %></p>

<p>
  <b>Client ip:</b>
  <% if @report.client_ip.nil? %>
    <%= "Not Recorded" %>
  <% else %>
    <%= @report.client_ip %>
  <% end %>
</p>


<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
